@import "tailwindcss";

/* Kustomisasi tema dasar untuk Kirupay */
@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

/* Base styling */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    antialiased: true;
  }
}